
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;

}
.content {
    flex: 1 0 auto;
    background-color: antiquewhite;
    min-width: 1200px;
   margin-left: auto;
    margin-right: auto; 
    
}
.header {

}
.header__container {
background-color: darkgrey;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
.header__logo {
    float: left;
    margin-left: 20px;
}
.nav {
    
}
.nav__row{

}
.nav__column{
    display: flex;
    justify-content: space-around;
}
.nav__item{
    font-size: 18px;
    padding: 12px 10px 10px 10px;
}
.nav__item:hover{
    font-weight: bold;
    background-color: rgb(139, 138, 138);
    color: seashell;
}
.head__title {
    font-size: 18px;
    padding: 12px 30px 10px 10px;
    font-family: Comic Sans MS;
}
.back:link {
    text-decoration: none;
    color: black;
}
.here {
    font-weight: bold;
    text-decoration: underline;
    
}
.back:visited {
    color: black;
    
}
.back:hover{
    font-weight: bold;
    background-color: rgb(139, 138, 138);
    color: seashell;
}
.registration {
    font-size: 18px;
    padding: 12px 10px 10px 320px;
}
.registration:hover {
    color: darkgrey;
    cursor: default;
}
.reg__logo {
    background-color: white;
    border-radius: 30px;
    float: left;
    margin-top: 5px;
}
h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
.hello {
    text-align: center;
    padding-top: 10px;
    line-height: 1.5;
    font-size: 18px;
}
.news__line__row {
padding-top: 100px;
}
.news__line__column {
    display: flex;
    justify-content: space-around;
    font-family: 'Comic sans MS';
    font-size: 25px;
    font-weight: bold;
    min-width: 350px;
    min-height: 400px;
}
.left {
    color: yellow;
    text-shadow: 1px 2px 1px #000;
    border: 10px solid black;
    text-align: center;
    background-image: url(https://englishlib.org/dictionary/img/wlibrary/b/5ffdae910e5549.82724310.jpg);
    
}
.middle {
    color: yellow;
    text-shadow: 1px 2px 1px #000;
    border-bottom: 10px solid black;
    border-top: 10px solid black;
    text-align: center;
    background-image: url(https://aif-s3.aif.ru/images/011/707/29d7043dced25e5f45e701436bf1e984.jpg);
}
.right {
    color: yellow;
    text-shadow: 1px 2px 1px #000;
    border: 10px solid black;
    text-align: center;
    background-image: url(https://kdvor.ru/upload/iblock/4c9/nuzhnie_Instrumeni.png);
}
.news__line__item {
text-align: center;
padding-top: 10px;
}
.news__row {

}
.news__column {
display: flex;
flex-direction: column;
padding-top: 100px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}
.news__item {
    flex: 0 0 auto;
    font-size: 17px;
    color: white;
    font-weight: bold;
}

.footer{
    flex: 0 0 auto;
}
.footer__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkslategrey;
    min-height: 80px;
}
.rights {
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}
.contacts_down {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: underline;
}
.html {
    max-height: 100%;
    background-color: antiquewhite;
}
.body {
    max-height: 100%;
    background-color: antiquewhite;
}
.image {
    margin-left: 295px;
    margin-right: 250px;
    border: #000 solid 4px;
}
.art__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.art__item {
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
}
.comment {
    text-align: center;
    background-color: antiquewhite;
}
.art__item:hover {
        transition: 1s; 
        transform: scale(1.2);
    }
.tall {
    margin-left: 200px;
}
.fat {
    margin-left: 100px;
}
h2 {
    font-size: 20px;
    text-align: center;
}
.contact_pull__row {
    float: left;
    padding-left: 250px;
    padding-top: 70px;
}
.contact_pull__column {
    display: flex;
    flex-direction: column;
    line-height: 2;

}
.contact_pull_item {
    min-width: 260px;
    padding-top: 5px;
}
.vk_logo {
    float: left;
    margin-right: 5px;
}
.info {
    padding-top: 5px;
    font-size: 16px;

}

@media (max-width:1200px) {
    .wrapper {
        max-width: 970px;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        flex: 1 0 auto;
        background-color: antiquewhite;
        max-width: 970px;
        min-width: auto;
       margin-left: auto;
        margin-right: auto;
    }
    .nav__item{
        font-size: 16px;
        padding: 12px 10px 10px 10px;
    }
    .registration {
        font-size: 16px;
        padding: 12px 10px 10px 170px;
    }
    .image {
        margin-left: 185px;
        margin-right: 250px;
        border: #000 solid 4px;
    }
    .art__item {
        padding-top: 10px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .tall {
        margin-left: 100px;
    }
    .fat {
        margin-left: 20px;
    }
    .contact_pull__row {
        float: left;
        padding-left: 165px;
        padding-right: 60px;
        padding-top: 70px;
    }
}
@media (max-width:992px) {
    .wrapper {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav__item{
        font-size: 18px;
        padding: 12px 10px 10px 10px;
    }
    .registration {
        font-size: 0px;
        padding: 12px 10px 10px 40px;
    }
    .image {
        margin-left: 78px;
        margin-right: 70px;
        border: #000 solid 4px;
    }
    .art__item {
        padding-top: 10px;
        padding-left: 75px;
        padding-right: 75px;
    }
    
}

@media (max-width:767px) {
    .wrapper {
        max-width: none;
        margin-left: auto;
        margin-right: auto;
        min-width: 750px;
    }
    .nav__item{
        font-size: 15px;
        padding: 12px 5px 10px 10px;
    }
    .registration {
        font-size: 0px;
        padding: 12px 10px 10px 0px;
    }
    .head__title {
        font-size: 15px;
        padding: 12px 10px 10px 10px;
        font-family: Comic Sans MS;
    }
    .contacts {
        font-size: 0px;
    }
    .image {
        margin-left: 0px;
        margin-right: 0px;
        border: #000 solid 4px;
    }
    .art__item {
        padding-top: 10px;
        padding-left: 70px;
        padding-right: 70px;
    }
}
